@use "../abstracts";

.home {
    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41667; /* 141.667% */
        margin-bottom: 20px;
    }

    // Class to modify the gap between columns/rows
    &__cate {
        --grid-gutter-x: 51px;

        @include abstracts.screen(lg) {
            --grid-gutter-x: 24px;
        }

        @include abstracts.screen(md) {
            --grid-gutter-y: 20px;
        }
    }
}