:root .dark {
    --text-color: #FFF;
    --icon-color: brightness(0) saturate(100%) invert(81%) sepia(100%) saturate(1%) hue-rotate(241deg) brightness(108%) contrast(101%);
    --body-bg: #292E39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #EDEDF6;

    /* Category Item */
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: lightgray;
    --cate-item-title-color: #FFF;

    /* Buttons */
    --filter-btn-color: #FFF;
    --filter-btn-bg: #171C28;
    
    /* Product Card */
    --product-card-bg: #171C28;
    
    /* Footer */
    --footer-bg: #171C28;
}