@use "../abstracts";

.form {
    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;
        border-radius: 10px;
        border: 1px solid #D2D1D6;
        height: 50px;
        padding: 0 12px;

        &:focus-within {
            border-color: #77DAE6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;
        border: none;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44444; /* 144.444% */

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 12px;
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        &-label {
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.46667; /* 146.667% */

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }
    }
}